<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526778327051-035n7gmgreo40sp30i87f4btm213c315.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526778327051-035n7gmgreo40sp30i87f4btm213c315</string>
	<key>API_KEY</key>
	<string>AIzaSyDT6U_6SIsITne9MSGjOpHXVEkq2RYXUjg</string>
	<key>GCM_SENDER_ID</key>
	<string>526778327051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myNote</string>
	<key>PROJECT_ID</key>
	<string>my-note124</string>
	<key>STORAGE_BUCKET</key>
	<string>my-note124.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526778327051:ios:8a6d34b4a335feb2fda70e</string>
</dict>
</plist>